@font-face {
    font-family: "SourceCodePro";
    src: url(fonts/SourceCodePro-Regular.ttf);
}

body {
    font-family: 'SourceCodePro';
    background-color: #121212;
    color: white;
    height: 310px;
    width: 310px;
}

::selection {
    background: #066a8c;
    text-shadow: none;
}


#patro {
    text-align: center;
}

#logo {
    height: 48px;
    width: 48px;
}

#date {
    font-size: 30px;
}

#day {
    font-size: 25px;
}

#time {
    font-size: 20px;
}

.link,
.link:hover,
.link:active {
    color: rgb(2, 193, 246);

}

#yesterday {
    text-align: left;
    font-size: 14px;
}

#tomorrow {
    text-align: right;
    font-size: 14px;
}

#version {
    text-align: left;
    font-size: 10px;
}